In [24]:
# Import Modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from functools import reduce
%matplotlib inline

In [25]:
# Set variables for data directory, results directory, and file name.  Import CSV file, trim off top row, drop unneccessary columns, rename columns.
datadirname = '/Users/nhein/Desktop/Coding/Project/Data/'
resultsdirname = '/Users/nhein/Desktop/Coding/Project/Results/'
datafile = 'Ch5-36C.csv'

df = pd.read_csv(datadirname + datafile, skiprows=1)
df.drop(df.columns[[0, 4, 5, 6]], axis=1, inplace= True)
df.columns = ['Full_Date', 'Temp_C', 'RH']

# Change dates to datetime and create new columns with date data needed for calculations
df.Full_Date = pd.to_datetime(df.Full_Date)
df.insert(1,'Date', df.Full_Date.dt.date)
df.insert(2,'Time', df.Full_Date.dt.time)
df.insert(3, 'Hour', df.Full_Date.dt.hour)

# drop rows witn NaNs
df = df.dropna()

In [26]:
# Defining VPD Function
def vpdfun (T_Grid, RH_Grid): 
    '''
    Uses the inputs of Temperature (Celsius) and relative humidity (%RH) and outputs the VPD (kPa).
    Inputs must be in numpy 2D array T in Celsius and RH in %RH with same dimensions.
    Author: Nathan Hein
    Date: 03/03/2019    
    '''
    esat = .611 * (np.exp((T_Grid * 17.5) / (T_Grid + 241))) # Sat. Vapor Pressure
    eact = esat * (RH_Grid / 100)                            # Actual Vapor Pressure
    vpd = esat - eact                                        # Vapr Pressure Deficit
    vpd = np.round(vpd, 2) 
    return vpd

# Defining Temp and RH variables
T_Grid = df.Temp_C
RH_Grid = df.RH

# Calling function and creating new column in dataframe with VPD.
VPD = vpdfun(T_Grid, RH_Grid)
df.insert(6,'VPD', VPD)

In [27]:
# Defining function that averages the VPD values over a given hour of the day for the entire data set.
def monthlyvpd ():
    '''
    Takes the calculated VPD and averages all values that were measured during each hour of the day throughout the data period.
    Records the results in a new dataframe.
    Inputs: VPD as an integer from a dataframe created from a csv file and results are the same units as inputs (normally kPA).  
    Author: Nathan Hein
    Date: 03/11/19
    '''
    cols = ['Hour', 'VPD']
    rows = []
    xdf = pd.DataFrame(rows, columns=cols)
    vpdlist = []
    for x in range(0,24):
        vpd = df[df['Hour']==x]['VPD']
        vpdlist.append(vpd)
        avg = np.mean(vpdlist)
        xdf = xdf.append({'Hour': x, 'VPD': avg}, ignore_index=True)
        vpdlist = []
    return(xdf)

MonthlyHourlyVPD = monthlyvpd()

In [28]:
# Defining Function that average the temp values over a given hour of the day for the entire data set.
def monthlytemp ():
    '''
    Calculates the average temperature for each hour of the day over the entire data set.
    Inputs: Temperature as an integer in a dataframe created from a csv file.
    Outputs: Temperature as an integer and a new dataframe with average temeperature values and the hour.
    Author: Nathan Hein
    Date: 03/11/19
    '''
    cols = ['Hour', 'Temp']
    rows = []
    ydf = pd.DataFrame(rows, columns=cols)
    templist = []
    for x in range(0,24):
        temp = df[df['Hour']==x]['Temp_C']
        templist.append(temp)
        avg = np.mean(templist)
        ydf = ydf.append({'Hour': x, 'Temp': avg}, ignore_index=True)
        templist = []
    return(ydf)

MonthlyHourlyTemp = monthlytemp()

In [29]:
# Defining function that averages the RH values over a given hour of the day for the entire data set.
def monthlyrh ():
    '''
    Calculates the average RH value for each hour of the day over the entire data set.
    Input: RH from a dataframe created from the imported CSV file
    Output: Hourly average RH in a new dataframe and the hour.
    Author: Nathan Hein
    Date: 03/11/19
    '''
    
    cols = ['Hour', 'RH']
    rows = []
    zdf = pd.DataFrame(rows, columns=cols)
    rhlist = []
    for x in range(0,24):
        rh = df[df['Hour']==x]['RH']
        rhlist.append(rh)
        avg = np.mean(rhlist)
        zdf = zdf.append({'Hour': x, 'RH': avg}, ignore_index=True)
        rhlist = []
    return(zdf)

MonthlyHourlyRH = monthlyrh()

In [30]:
# Creates a list of the different Data types data frames and merges all the resuls data frames into one.
data_frames = [MonthlyHourlyTemp, MonthlyHourlyRH, MonthlyHourlyVPD]
MHA_Merged = reduce(lambda left,right: pd.merge(left,right,on=['Hour'],how='outer'), data_frames)
MHA_Merged

    Hour       Temp         RH       VPD
0    0.0  15.303431  71.103138  0.496383
1    1.0  15.283346  71.214032  0.494362
2    2.0  15.273516  71.150495  0.495319
3    3.0  15.262032  71.169117  0.494255
4    4.0  15.256809  71.142122  0.494840
5    5.0  15.523702  70.248399  0.518085
6    6.0  20.637186  69.975819  0.725426
7    7.0  26.904883  67.894213  1.094787
8    8.0  31.241665  66.876239  1.430213
9    9.0  33.378484  67.242644  1.582128
10  10.0  33.559840  67.775011  1.564096
11  11.0  33.634441  67.813489  1.562447
12  12.0  34.122105  66.983211  1.632632
13  13.0  34.438989  67.932963  1.627831
14  14.0  34.513330  68.091851  1.632394
15  15.0  34.510431  68.121564  1.630106
16  16.0  34.501351  67.765617  1.650904
17  17.0  34.491090  67.729883  1.653777
18  18.0  32.165824  70.125941  1.344202
19  19.0  29.169165  71.627734  1.083670
20  20.0  23.503085  72.250255  0.788883
21  21.0  17.362835  69.707255  0.622234
22  22.0  15.980511  69.592234  0.575000
23  23.0  15.386351  70.708697  0.507979

In [31]:
df

               Full_Date        Date      Time  Hour  Temp_C      RH   VPD
0    2018-11-17 12:37:17  2018-11-17  12:37:17    12  21.680  29.689  1.82
1    2018-11-17 12:52:17  2018-11-17  12:52:17    12  34.527  96.867  0.17
2    2018-11-17 13:07:17  2018-11-17  13:07:17    13  35.404  84.067  0.92
3    2018-11-17 13:22:17  2018-11-17  13:22:17    13  35.671  79.317  1.21
4    2018-11-17 13:37:17  2018-11-17  13:37:17    13  35.859  74.078  1.53
5    2018-11-17 13:52:17  2018-11-17  13:52:17    13  35.832  71.706  1.67
6    2018-11-17 14:07:17  2018-11-17  14:07:17    14  35.859  70.826  1.72
7    2018-11-17 14:22:17  2018-11-17  14:22:17    14  35.886  70.477  1.74
8    2018-11-17 14:37:17  2018-11-17  14:37:17    14  35.967  70.129  1.77
9    2018-11-17 14:52:17  2018-11-17  14:52:17    14  35.994  70.463  1.75
10   2018-11-17 15:07:17  2018-11-17  15:07:17    15  35.994  70.909  1.73
11   2018-11-17 15:22:17  2018-11-17  15:22:17    15  36.021  71.211  1.71
12   2018-11-17 15:37:17  2018-11-17  15:37:17    15  36.155  71.881  1.68
13   2018-11-17 15:52:17  2018-11-17  15:52:17    15  36.129  71.776  1.69
14   2018-11-17 16:07:17  2018-11-17  16:07:17    16  36.075  72.054  1.67
15   2018-11-17 16:22:17  2018-11-17  16:22:17    16  36.048  72.334  1.65
16   2018-11-17 16:37:17  2018-11-17  16:37:17    16  36.236  72.424  1.66
17   2018-11-17 16:52:17  2018-11-17  16:52:17    16  36.209  72.148  1.67
18   2018-11-17 17:07:17  2018-11-17  17:07:17    17  36.075  72.164  1.66
19   2018-11-17 17:22:17  2018-11-17  17:22:17    17  36.075  72.843  1.62
20   2018-11-17 17:37:17  2018-11-17  17:37:17    17  36.209  72.427  1.66
21   2018-11-17 17:52:17  2018-11-17  17:52:17    17  36.209  72.427  1.66
22   2018-11-17 18:07:17  2018-11-17  18:07:17    18  34.739  68.324  1.76
23   2018-11-17 18:22:17  2018-11-17  18:22:17    18  34.132  75.565  1.31
24   2018-11-17 18:37:17  2018-11-17  18:37:17    18  34.132  74.510  1.37
25   2018-11-17 18:52:17  2018-11-17  18:52:17    18  34.027  74.585  1.35
26   2018-11-17 19:07:17  2018-11-17  19:07:17    19  32.880  68.445  1.58
27   2018-11-17 19:22:17  2018-11-17  19:22:17    19  30.249  78.320  0.93
28   2018-11-17 19:37:17  2018-11-17  19:37:17    19  30.350  76.672  1.01
29   2018-11-17 19:52:17  2018-11-17  19:52:17    19  30.149  76.412  1.01
...                  ...         ...       ...   ...     ...     ...   ...
4485 2019-01-03 05:52:17  2019-01-03  05:52:17     5  15.058  45.588  0.93
4486 2019-01-03 06:07:17  2019-01-03  06:07:17     6  18.013  40.647  1.22
4487 2019-01-03 06:22:17  2019-01-03  06:22:17     6  20.082  33.935  1.55
4488 2019-01-03 06:37:17  2019-01-03  06:37:17     6  19.868  34.550  1.52
4489 2019-01-03 06:52:17  2019-01-03  06:52:17     6  19.868  34.663  1.51
4490 2019-01-03 07:07:17  2019-01-03  07:07:17     7  19.844  34.693  1.51
4491 2019-01-03 07:22:17  2019-01-03  07:22:17     7  19.892  35.011  1.51
4492 2019-01-03 07:37:17  2019-01-03  07:37:17     7  19.963  35.162  1.51
4493 2019-01-03 07:52:17  2019-01-03  07:52:17     7  19.987  35.219  1.51
4494 2019-01-03 08:07:17  2019-01-03  08:07:17     8  19.963  35.521  1.50
4495 2019-01-03 08:22:17  2019-01-03  08:22:17     8  20.011  35.946  1.50
4496 2019-01-03 08:37:17  2019-01-03  08:37:17     8  19.940  36.295  1.48
4497 2019-01-03 08:52:17  2019-01-03  08:52:17     8  19.916  37.439  1.45
4498 2019-01-03 09:07:17  2019-01-03  09:07:17     9  19.916  39.150  1.41
4499 2019-01-03 09:22:17  2019-01-03  09:22:17     9  19.868  39.436  1.40
4500 2019-01-03 09:37:17  2019-01-03  09:37:17     9  19.987  38.718  1.43
4501 2019-01-03 09:52:17  2019-01-03  09:52:17     9  19.892  38.182  1.43
4502 2019-01-03 10:07:17  2019-01-03  10:07:17    10  19.963  37.307  1.46
4503 2019-01-03 10:22:17  2019-01-03  10:22:17    10  19.892  37.319  1.45
4504 2019-01-03 10:37:17  2019-01-03  10:37:17    10  23.934  32.187  2.01
4505 2019-01-03 10:52:17  2019-01-03  10:52:17    10  24.706  22.466  2.41
4506 2019-01-03 11:07:17  2019-01-03  11:07:17    11  24.055  20.508  2.38
4507 2019-01-03 11:22:17  2019-01-03  11:22:17    11  24.199  18.929  2.45
4508 2019-01-03 11:37:17  2019-01-03  11:37:17    11  24.006  18.247  2.44
4509 2019-01-03 11:52:17  2019-01-03  11:52:17    11  23.717  18.236  2.40
4510 2019-01-03 12:07:17  2019-01-03  12:07:17    12  23.549  18.155  2.37
4511 2019-01-03 12:22:17  2019-01-03  12:22:17    12  23.429  19.330  2.32
4512 2019-01-03 12:37:17  2019-01-03  12:37:17    12  23.405  19.049  2.33
4513 2019-01-03 12:52:17  2019-01-03  12:52:17    12  23.429  18.563  2.35
4514 2019-01-03 13:07:17  2019-01-03  13:07:17    13  23.429  18.883  2.34

[4515 rows x 7 columns]